.menu-wrap {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    &.icons {
        background: $dark-color;
        color: $dark-color;
        &:hover {
            background: $white-color;
            color: $white-color;
        }
    }
}