.bottom-devider-wrap {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 5vh;
    img {
        width: 100%;
        height: 100%;
    }
}

.top-devider-wrap {
    width: 100%;
    margin: auto;
    img {
        width: 100%;
        max-height: 300px;
        height: 100%;
    }
}